@import '../variables.scss';

.root {
  background: #f5f5f5;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: $max-content-width;
  text-align: center;
  font-size: 20px;
}

.charactersList {
  width: 25%;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  padding-bottom: 15px;
  margin: 5px;

  ul {
    img {
      width: 100%;
    }
    li {
      text-align: left;
    }
  }
}