@import '../variables.scss';

.root {
  background: #f5f5f5;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: $max-content-width;
  text-align: center;
  font-size: 20px;
}

li {
	list-style: none;
	display: inline-block;
	width: auto;
}
li a {
	margin: 0 5px;
  text-decoration: none;
}
ul {
  text-align: left;
}
ul > div {
  display: inline-block;
}
.arcTitle {
  width: 100%;
  margin: 0;

  h3 {
    margin: 15px 0 5px 0;
  }
}