@import '../variables.scss';

li {
	list-style: none;
	display: inline-block;
  margin-right: 8px;
}
li a {
  text-decoration: none;
}
ul {
  text-align: left;
  padding: 0;
  margin: 0;
}
ul > div {
  display: inline-block;
}
.arcTitle {
  width: 100%;
  margin: 0;

  h3 {
    margin: 15px 0 5px 0;
  }
}