@import '../variables.scss';

.bold {
  font-weight: 600;
}

.cDisplayRoot {
  background: #659ca7;
  color: #333;
  border: 3px solid black;
  width: 90%;
  max-width: 1000px;
  margin: 5% auto;

  @media screen and (min-width: 768px) {
    margin: 5% auto;
    width: 85%;
  }
  @media screen and (min-width: 1080px) {
    margin: 40px auto;
    min-width: 750px;
    width: 50%;
  }

  .container {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-size: 20px;

    @media screen and (min-width: 768px) {
      padding: 25px;
    }

    img {
      width: 100%;
      margin: 25px 0;
      border: 2px solid black;
    }

    div:not(.prevNext) {
      border: 2px solid black;
      background: white;
      padding: 5%;

      @media screen and (min-width: 500px) {
        padding: 3%;
      }
      @media screen and (min-width: 768px) {
        padding: 25px;
      }

      p {
        margin: 0;
        text-align: left;
      }
    }
  }

  .prevNext {
    margin-bottom: 25px;
    border: none;
    background: none;

    a {
      display: inline-block;
      width: 25%;
    }
    img {
      max-height: 75px;
      width: auto;
      border: none;
      margin: 0;
      filter: grayscale();

      height: 50px;
      @media screen and (min-width: 425px) {
        height: 60px;
      }
      @media screen and (min-width: 1024px) {
        height: 75px;
      }
    }
    img:hover {
      filter: none;
    }
  }

  .comicDetails {
    max-width: 1000px;
    margin: 0 auto;
  }

  .leftResize, .rightResize {
    width: 2%;
    background: white;
    border: 1px solid darkgray;
    display: inline-block;
    cursor: col-resize;
    padding-bottom: 15px;

    span {
      float: left;
      line-height: 1;
      width: 100%;
      display: inline-block;
    }
  }
  .leftResize {
    border-right: none;
  }
  .rightResize {
    border-left: none;
  }

  .imgContainer, .imgContainer * {
    user-select: none;
  }

  a {
    text-decoration: none;
  }

  .link,
  .link:active,
  .link:hover,
  .link:visited {
    color: #333;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .spacer {
    padding-right: 15px;
    padding-left: 15px;
  }
  .inactive {
    pointer-events: none;
    img {
      display: none;
    }
  }
  .hidden {
    display: none;
  }
}